body {
  background-color: hsl(0, 0%, 6%);
  font: normal 1em/1.38 Roboto-Light;
  color: rgb(255, 255, 255);
}

.banner {
  z-index: 2;
  width: 90%;
  height: 19px;
  margin: -1678px 0 0 10%;
}

.bannerbackground {
  z-index: 0;
  width: 100%;
  height: 31px;
  border-right: 1px dotted rgb(74, 144, 226);
  border-bottom: 1px dotted rgb(74, 144, 226);
  border-left: 1px dotted rgb(74, 144, 226);
  background-color: rgba(74, 144, 226, 0.44);
}

.bannertext {
  clear: both;
  z-index: 1;
  margin: -22px 0 0 6.07784%;
  font-family: Roboto;
  font-size: 1em;
  font-weight: 400;
}

.bodywrapper {
  clear: both;
  z-index: 22;
  width: 40.8333333333%;
  height: 437px;
  margin: -1538px 0 0 22%;
}

.checkbox {
  display: block;
  float: left;
  margin-top: 3px;
}

.checkbox-label {
  display: block;
  position: relative;
  float: left;
  width: 25.7142857142%;
  height: 22px;
}

.container {
  position: relative;
  float: left;
}

.element {
  position: relative;
  float: left;
}

.formheader {
  clear: both;
  z-index: 9;
  margin: -407px 0 0 16.8080399999%;
  font-family: Roboto;
  font-size: 1.563em;
  font-weight: 100;
}

.formtext {
  z-index: 15;
  margin: -176px 0 0 16.8080399999%;
  font-size: 1em;
}

.frame {
  z-index: 7;
  width: 100%;
  height: 1755px;
}

.headertext {
  z-index: 5;
  margin: -1719px 0 0 15.19922%;
  font-family: 'Playfair Display';
  font-size: 1.875em;
  font-weight: 400;
}

.image {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  width: 10%;
  height: auto;
  margin: -1741px 0 0 5.03125%;
  overflow: hidden;
}

.leftsquare {
  z-index: 4;
  width: 10%;
  height: 1755px;
  background-color: #aa3939;
}

.point-text {
  display: block;
  float: left;
  margin: 1px 0 0 4px;
  font-family: Helvetica;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.shadow {
  z-index: 8;
  width: 99.7959183673%;
  height: 437px;
  margin-left: 0.00957%;
  box-shadow: 1px 1px 5px 2px rgba(255, 255, 255, 0.5);
}

.submitbutton {
  display: block;
  position: relative;
  float: left;
  z-index: 14;
  width: 33.2653061224%;
  height: 28px;
  margin: -76px 0 0 16.6485999999%;
  border: 1px solid rgb(120, 0, 0);
  border-radius: 3px;
  background-color: rgb(255, 219, 131);
  font: 400 1em/1.38 Roboto;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text {
  position: relative;
  float: left;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.textd {
  position: relative;
  float: left;
  z-index: 10;
  margin: -331px 0 0 16.6485999999%;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.textfield {
  display: block;
  position: relative;
  float: left;
  width: 53.0612244897%;
  height: 28px;
  margin-left: 16.73151%;
  border-radius: 3px;
  background-color: rgb(236, 236, 236);
  font: 400 0.813em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.textfieldlabel {
  z-index: 13;
  margin: -255px 0 0 16.8080399999%;
  font-size: 1em;
}

.topline {
  z-index: 3;
  width: 85.5833333333%;
  height: 4px;
  margin: -1682px 0 0 14.41667%;
  background-color: #aa3939;
}

.checkbox-label-1 {
  z-index: 18;
  margin: -142px 0 0 16.72832%;
}

.checkbox-label-2 {
  z-index: 21;
  margin: -120px 0 0 16.6517899999%;
}

.textfield-1 {
  z-index: 11;
  margin-top: -304px;
}

.textfield-2 {
  z-index: 12;
  margin-top: -228px;
  padding: 0 10px;
}