<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>index-copy</title>
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,400,100|Roboto+Condensed:300|Playfair+Display:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/standardize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/authorize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/authorize-grid.css')}}">
</head>
<body class="body page-index-copy clearfix">
  <div id="frame" class="container bodywrapper container-1 clearfix">
    <div id="leftSquare" class="element leftsquare"></div>
    <img id="cornerLogo" class="image _image" src="{{url_for('static', filename='images/logo(4).png')}}">
    <div id="topLine" class="element topline"></div>
    <p id="headerText" class="text headertext">OAuth-Kerberos</p>
    <div id="banner" class="container banner clearfix">
      <div id="bannerBackground" class="element bannerbackground"></div>
      <p id="headerText" class="text bannertext">Please enter a client ID and callback URL</p>
    </div>
  </div>
  <div id="form" class="container bodywrapper container-3 clearfix">
    <form action="/oauth/authorize" method="post">
      <div class="element form"></div>
      <p class="text formheader">{{ client.client_id }} is requesting access to the following services</p>
      {% for s in services %}
        <img class="image bullet" src="{{url_for('static', filename='images/arrow.png')}}">
        <p class="text servicetext">{{s}}</p>
      {% endfor %}
      <p class="text formtext">Allow access?</p>
      <input type="hidden" name="client_id" value="{{ client.client_id }}">
      <input type="hidden" name="scope" value="{{ scopes|join(' ') }}">
      <input type="hidden" name="response_type" value="{{ response_type }}">
      <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}">
      {% if state %}
      <input type="hidden" name="state" value="{{ state }}">
      {% endif %}

      <input class="forminput forminput-1" name="username" placeholder="username" type="text" value="test_username">
      <input class="forminput forminput-2" name="password" placeholder="password" type="password" value="test_password">
      <input id="allowButton" class="formbutton formbutton-1" type="submit" name="confirm" value="Allow">
      <input id="rejectButton" class="formbutton formbutton-2" type="reset" name="reset" value="Reject">
    </form>
  </div>
</body>
</html>