<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>request-access</title>
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,100|Playfair+Display:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/standardize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/register-grid.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body class="body page-request-access clearfix">
  <div id="frame" class="container frame clearfix">
    <div id="leftSquare" class="element leftsquare"></div>
    <img id="cornerLogo" class="image" src="{{url_for('static', filename='images/logo(4).png')}}">
    <div id="topLine" class="element topline"></div>
    <p id="headerText" class="text headertext">OAuth-Kerberos</p>
    <div id="banner" class="container banner clearfix">
      <div id="bannerBackground" class="element bannerbackground"></div>
      <p id="bannerText" class="text bannertext">Please enter a client ID and callback URL</p>
    </div>
  </div>
  <div id="form" class="container bodywrapper clearfix">
    <div class="element shadow"></div>
    <p class="text formheader">Register a client</p>
    <p class="textd">Client ID</p>
    <form action="/oauth/client/register" name="form" method="post">
      <input class="textfield textfield-1" name="client_id" placeholder="identifying string" type="text">
      <p class="text textfieldlabel">Callback URL</p>
      <input class="textfield textfield-2" name="client_callback" placeholder="http://localhost:5001/callback/ok_server" type="text">
      <p class="text formtext">What services do&nbsp;you need access to?</p>
      <label class="checkbox-label servicecheckbox checkbox-label-1 clearfix">
        <input class="checkbox" name="AFS" value="AFS" type="checkbox">
        <span class="point-text">MIT AFS</span>
      </label>
      <label class="checkbox-label servicecheckbox checkbox-label-2 clearfix">
        <input class="checkbox" name="Zephyr" value="Zephyr" type="checkbox">
        <span class="point-text">Zephyr</span>
      </label>
      <input class="submitbutton" type="submit" name="confirm" value="Submit">
    </form>
  </div>
  <script>
  $(document).ready(function() {
    $('input[name="client_id"]').focus();
    $('#banner').hide()
    var frm = $('#form');
    frm.submit(function (ev) {
        var inputs = $('input').serializeArray();
        if (Boolean(inputs[0].value && inputs[1].value && inputs[2].value)) {
          $.ajax({
              type: 'POST',
              url: frm.attr('action'),
              data: frm.find('input').serialize(),
              success: function (data) {
                showMessage(data.message, 30);
              }
          });
        }
        else {
          showMessage('Please enter a username, password, and callback URL', 2);
        }

        ev.preventDefault();
    });
    function showMessage(message, seconds) {
      $('#bannerText').text(message);
      $('#banner').show(function() {
          setTimeout(function() {
              $('#banner').hide();
          }, 1000 * seconds);
      });
    }
  });
  </script>
</body>
</html>